@import "variables";

@if $default-arrow-styles == true {

    .slider {

        // This is just an example.
        // You can style the arrows any way you like.

        @if $place-arrows-over-slides == false {
            padding-left: $arrow-box-width;
            padding-right: $arrow-box-width;
        }

        &-prev, &-next {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 100;
            width: $arrow-box-width;
            background: $arrow-box-background;
            font-size: $arrow-font-size;
            color: $arrow-color;
            text-decoration: none;
            transition: width 400ms, background 400ms;
            overflow: hidden;

            &:hover {
                background: $arrow-box-background-hover;
                color: $arrow-color-hover;
                text-decoration: none;
            }
        }

        &-prev { left: 0; }
        &-next { right: 0; }

        // arrow state when the slider is at the start
        &-start &-prev {
            background: $arrow-box-background-end;
            color: $arrow-color-end;

            @if $hide-arrows-at-end-of-track == true {
                width: 0;
            }
        }

        // arrow state when the slider is at the end
        &-end &-next {
            background: $arrow-box-background-end;
            color: $arrow-color-end;

            @if $hide-arrows-at-end-of-track == true {
                width: 0;
            }
        }

        // arrow state when all slides fit in the viewport
        &.no-slide &-prev, &.no-slide &-next {
            display: none;
        }
    }

}
