@import "variables";

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: $slide-vertical-align;
    align-items: $slide-horizontal-align;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    max-width: $slide-max-width; //=> don't let slides be wider than the viewport
    flex-basis: $slide-width; //=> optional fixed slide width (px or % of viewport)
    height: $slide-height; //=> optional fixed slide height
    background: $slide-background;
    color: $slide-text-color;

    + .slide {
        margin-left: $slide-margin;
    }

    &-overlay {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: $slide-vertical-align;
        align-items: $slide-horizontal-align;
        width: 100%;
        height: 100%;
        background: $slide-background-overlay;
    }

    &-full-width, &-cover-width {
        flex-basis: 100%;
    }
}

.slider-full-width .slide,
.slider-cover-width .slide {
    flex-basis: 100%;
}
