@import "variables";

// This is just an example.
// You can style the image any way you like.

@if $default-slide-image-styles == true {

    .slide {

        &-image {
            display: block;
            position: relative;
            overflow: hidden;
            transition: transform $slide-image-scale-speed;
            text-align: $slide-image-text-align;

            &-zoom {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 10;
                width: 0;
                overflow: hidden;
                color: $slide-zoom-color;
                font-size: $slide-zoom-font-size;
                background: $slide-zoom-background;
                transition: opacity $slide-zoom-fade-in-speed, width 0ms linear $slide-zoom-fade-in-speed;
                opacity: 0;
            }

            img {
                vertical-align: middle;
                border: none; //=> IE 10 ¯\_(ツ)_/¯
                max-height: $slide-image-max-height;
            }

            &:hover {
                transform: $slide-image-scale-hover;
            }

            &:hover &-zoom {
                transition: opacity $slide-zoom-fade-in-speed, width 0ms linear 0ms;
                width: 100%;
                opacity: 1;
            }
        }

        &-cover-width &-image {
            width: 100%;
        }

        &-cover-wrapper {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            img.slide-cover {
                opacity: 0;
            }
        }
    }

    .slider-cover-width .slide-image {
        width: 100%;
    }

}
