@import "variables";

// This is just an example.
// You can style the image any way you like.

@if $include-default-slide-image-styles == true {

    .slide {
        margin-left: -1px; //=> fix random spacing between slides
        margin-right: -1px; //=> fix random spacing between slides

        &-image {
            display: block;
            position: relative;
            text-align: $slide-image-text-align;
            transition: transform $slide-image-scale-speed;

            &:hover {
                transform: $slide-image-scale-hover;
            }

            &-caption {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                padding: $slide-image-caption-padding;
                text-decoration: none;
                font-size: $slide-image-caption-font-size;
                color: $slide-image-caption-color;
                background: $slide-image-caption-background;
                transition: transform $slide-image-caption-speed;

                @if $slide-image-single-line == true {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &:hover &-caption {
                transform: translateY(100%);
            }

            &-hoverlay {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 10;
                width: 0;
                overflow: hidden;
                color: $slide-image-hoverlay-color;
                font-size: $slide-image-hoverlay-font-size;
                background: $slide-image-hoverlay-background;
                transition: opacity $slide-image-hoverlay-fade-in-speed, width 0ms linear $slide-image-hoverlay-fade-in-speed;
                opacity: 0;
                transform: translateZ(0); //=> avoid flickering
            }

            &:hover &-hoverlay {
                transition: opacity $slide-image-hoverlay-fade-in-speed, width 0ms linear 0ms;
                width: 100%;
                opacity: 1;
            }

            img {
                vertical-align: middle;
                border: none; //=> IE 10 ¯\_(ツ)_/¯
                max-height: $slide-image-max-height;
            }

            &-background-wrapper {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &-background-wrapper &-background {
                opacity: 0;
            }
        }

        &-cover-width &-image {
            width: 100%;
        }
    }

    .slider-cover-width .slide-image {
        width: 100%;
    }

}
