@import "variables";

.slider {
    position: relative;

    &-viewport {
        position: relative;
        overflow: hidden;
    }

    &-track {
        position: relative; //=> !! important for sliding to the correct position !!
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: $track-vertical-align; //=> vertical alignment of slides if they have variable heights
    }

    // alignment of slides if they all fit in the viewport
    &.no-slide &-track {
        justify-content: $track-no-slide-horizontal-align;
        align-items: $track-no-slide-vertical-align;
    }
}
