//
// Slider
//

// slides alignment
$track-vertical-align: center !default; //=> choose: center, flex-start (top) or flex-end (bottom)

// slides alignment if all slides fit in the viewport
$track-no-slide-horizontal-align: center !default; //=> choose: center, flex-start (left) or flex-end (right)
$track-no-slide-vertical-align: $track-vertical-align !default; //=> choose: center, flex-start (top) or flex-end (bottom)

//
// Slides
//

// slide content alignment
$slide-horizontal-align: center !default; //=> choose: center, flex-start (left) or flex-end (right)
$slide-vertical-align: center !default; //=> choose: center, flex-start (top) or flex-end (bottom)

// slide width & height
$slide-max-width: 100% !default; // choose: none (allow any width), 100% (crop slides to fit viewport) or any other width
$slide-width: auto !default; // choose: auto or any width (in pixels or percentage of viewport)
$slide-height: 200px !default; // choose: auto or any height (in pixels)

//
// Default arrow styles
//

// use the default arrow styles?
$default-arrow-styles: true !default;

// should the arrows be placed over the slides
// or should we add padding to the slider to prevent the overlap?
$place-arrows-over-slides: true !default;

// hide the previous arrow when at the start of the slider
// and the next arrow when at the end of the slider?
$hide-arrows-at-end-of-track: true !default;

// arrow styles
$arrow-box-width: 30px !default;
$arrow-font-size: 30px !default;
$arrow-transition: width 400ms ease 600ms, background 400ms, color 400ms !default;

// normal colors
$arrow-box-background: rgba(0,0,0,.3) !default;
$arrow-color: #ffffff !default;

// hover colors
$arrow-box-background-hover: rgba(0,0,0,.6) !default;
$arrow-color-hover: #ffdd8a !default;

// end of track colors
$arrow-box-background-end: $arrow-box-background !default;
$arrow-color-end: #7e7e7e !default;

//
// Default slide image styles
//

// use the default slide image styles?
$default-slide-image-styles: true !default;

// the image max height will determine the slider height
// if $slide-height is set to auto.
$slide-image-max-height: $slide-height !default; //=> choose: none or any value

// text align inside .slide-image
$slide-image-text-align: center !default; //=> choose: left, center, right

// zoom icon styles
$slide-zoom-color: rgba(255,255,255,.8) !default;
$slide-zoom-background: rgba(0,0,0,.2) !default;
$slide-zoom-font-size: 30px !default;
