@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
@import "slider";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Gentium Basic', serif;
    font-size: 18px;
    text-align: center;
}

code {
    font-size: .8em;
    padding: .1em .3em;
    border-radius: 3px;
    background: #eaeaea;
}

.slider {
    margin-bottom: 20px;
}

.info {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
